
<h1>Edit Photo Album</h1>

<%= form_for @album do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.file_field :images, multiple: true %> 

	<p>
		<%= form.submit %>
	</p>

<% end %>	