

<h1>Upload photo</h1>

<%= form_for @album do |form| %>

	<%= link_to 'Logout', destroy_user_session_path , method: :delete %>
	
	<p>
		<%= form.file_field :images, multiple: true %> 
	</p>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
	<%= form.submit 'Enter' %>
	</p>

<% end %>
