

<h1><%= @album.name %></h1> 


<% if @album.images.attached? %>
	<% @album.images.each do |image| %>
	<%= image_tag image %>
	<%= link_to 'Remove', delete_image_attachment_album_path(image.signed_id), method: :delete %>
   <% end %>
 <% end %>	



<%= link_to 'Add More' , add_more_path(@album) %>
<%= link_to 'Edit', edit_album_path %>


