

<%= form_for @band do |form| %>

	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :since %>
		<%= form.text_field :since %>
	</p>

	<p>
		<%= form.label :genre %>
		<%= form.text_field :genre %>
	</p>

	<p>
		<%= form.label :region %>
		<%= form.text_field :region %>
	</p>

	<p>
		<%= form.label :description %>
		<%= form.text_field :description %>
	</p>

	<p>
		<%= form.submit 'Save' %>
	</p>

<% end %>