

<%= link_to 'create photo album', new_album_path %>

<h1>Show all about the Band</h1>

<p><%= @band.name %></p>
<p><%= @band.since %></p>
<p><%= @band.genre %></p>
<p><%= @band.region %></p>
<p><%= @band.description %></p>

